include mixins

html
  head
    block title
      title #{title} - #{sitename} by #{author}
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(name="author" content=author)
    meta(name="description" content=description)
    link(rel="stylesheet" href="/css/stylesheet.css")
  body
    header
      h1
        a(href="/") TL;DR

    main
      block content

    footer
      | © #{author} #{year}

    if process.env.NODE_ENV == "development"
      script(src="http://localhost:35729/livereload.js")
