mixin post(p)
  article
    if p.link
      aside= p.link.split("/", 3).pop()

    h2
      a(href=p.link || `/${p.path}/`)= p.title

    section
      != p.contents

    footer
      ul
        li
          a(href=`/topic/${p.topic}/` title=`View posts about ${p.topic}`) ##{p.topic}
        if p.link
          li
            a(href=p.link title="Link to the original page") source
        li
          a(href=`/${p.path}/` title="Link this post") permalink
